* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
	font: 14px/1.5 Arial;
	background-color: #fff;
	color: #888;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.button {
	display: inline-block;
	font-size: 20px;
	color: white;
	background-color: yellow;
	padding: 5px 10px;
	border-radius: 4px;
}
.button:hover {
	background-color: rgba(0,255,0,0.8);
}
.layout {
	width: 1200px;
	margin: 0 auto;
}

html,body {
	height: 100%;
}
header {
	position: relative;
	height: 100%;
	min-height: 600px;
	background:  #000 url(http://ww1.sinaimg.cn/large/0069jr7igy1filb88x30zj30xr0jx0wn.jpg) no-repeat center center;
	background-size: cover;
}
header::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.3);
    }
    header .navbar {
      position: relative;
      z-index: 1;
    }
header .logo {
	color: yellow;
	font-size: 32px;
	float: left;
	margin-top: 10px;
}
header .zzz {
	float: right;
}
header .zzz>li {
	float: left;
	margin: 10px;
}
header .zzz a {
	display: inline-block;
	padding: 5px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
}
header .zzz a:hover {
	background-color: yellow;
}
header .theme {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}
header .theme h1 {
	font-size: 40px;
}
header .theme h2 {
	font-size: 60px;
	margin-top: 10px;
}
header .theme .button {
	margin-top: 40px;
}


section {
	text-align: center;
}
section>h1 {
	font-size: 40px;
	color: black;
	margin-top: 200px;
}
section>h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}
section>ul .iconfont {
	font-size: 60px;
}
section>ul>li {
	float: left;
	width: 33.3%;
	padding: 10px 20px;
}
section>ul h4 {
	margin-top: 10px;
}
section>ul h3 {
	color: black;
}

section .hero li {
	width: calc(33.3% - 20px);
	margin: 10px;
	float: left;
}

section .hero img {
	width: 100%;
	height: 100%;
}
section .hero a {
	position: relative;
	display: block;
	height: 190px;
}
section .hero a:hover::before {
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(234,194,54,0.8);
	color: #fff;
	font-size: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
section .hero h3 {
	margin-top: 10px;
}

.about h1 {
	margin-top: 100px;
}
.pad {
	padding-bottom: 80px;
}
.te-lf > .font-s {
	float: left;
	width: 33.3%;
	text-align: right;
}
.te-rg > .font-s {
	float: right;
	width: 33.3%;
	text-align: left;
}
.image-s img {
	width: 150px;
	border-radius: 50%;
	border: 4px solid red;
}
.te-lf img {
	margin-right: 33.3%;
}
.te-rg img {
	margin-left: 33.3%;
}
.font-s h3 {
	color: #000;
}
.font-s h4 {
	color: #000;
}



section .person img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 4px solid #fff;
}
.bg-col {
	background: #f7f7f7;
}

.bg-col h1{
	padding-top: 100px;
}
.bg-col h2{
	padding: 10px 0;
}
section .person li {
	float: left;
	width: calc(33.33% - 20px);
	margin: 10px;
}
.bg-col h5 {
	font-size: 16px;
	padding-bottom: 100px;
}

.marg .image li {
	float: left;
	width: 25%;
	margin: 0 auto;
	text-align: center;
}





.bck {
	height: 100%;	
	background: #000 url(http://ww1.sinaimg.cn/large/0069jr7igy1finvveli11j31hc0u04js.jpg) no-repeat center center;
	background-size: cover;
}
.bck h1 {
	color: #fff;
	margin: 0 auto;
	padding-top: 100px;
}
.bck h2 {
	margin-bottom: 100px;
}
.bck a {
	margin-bottom: 100px;
}
.flo-one {
	float: left;
	width: 50%;
	padding: 20px;
}
.flo-one input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #444;
}
.flo-one textarea {
    padding: 20px;
    width: 100%;
    height:190px;
    border-radius: 4px;
    font-size:16px;
    color:#444;
}
footer {
	padding: 20px 0;
	margin-left: 100px;
}
footer .twd {
	float: left;
	width: 33.3%;
}
